.actcontent.newact {
    height: 700px;
    width: 40%;
    min-width: 400px;
    max-width: 600px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}
.newactscroll{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 600px;
}
.newactscroll::-webkit-scrollbar {
    display:none;
}
.contentleft.newact{
    margin-inline: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);

}

.form-control {
    border: none;
    padding: 0px;
    margin-right: 10px;
}   
.timenewact {
    display: flex;
    flex-direction: row;
}
select {
    border: none;
    width: 100%;
}

textarea{
    margin-left: 12px;
    margin-top: 5px;
    margin-right: 12px;
    margin-bottom: 10px;
    border: none;
}

.newacttitle {
    text-align: center;
    color: rgba(19, 53, 166, 1);
    padding: 12px;
}
.butdiv {
    display: flex;
    flex-direction: row-reverse;
}

.butdiv button{
    margin-inline: 10px;
    margin-bottom: 12px;
    margin-top: 12px;
}