.login-container {
    background-color: rgba(19, 53, 166, 1);
    color: white;
    display: flex;
    width: 100%;
    height: 100vh;

    align-items: center;
    margin: auto;

    width: 100%;
    height: 100vh;
}

.body-container {
    width: 400px;
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: auto;
    /* padding-top: 25%; */
}

.welcome-quote {
    font-size: 20px;
    margin-bottom: 5px;
}

.login-title {
    font-size: 48px;
    font-weight: 900;
    margin-bottom: 10px;
}

.form-control-lg {
    margin-top: 5%;
    padding: 12px 12px 12px 24px;
    border: none;
    font-size: 12px;
    color: rgb(150, 150, 150);
    width: 100%;
    background-color: white;
}

.btn-dark {
    background-color: black;
    border: none;
    width: 100%;
    margin-top: 5%;
    padding: 12px;
    font-size: 12px;
    font-weight: bold;
}

.forgot-password {
    margin: 18px;
    font-size: 12px;
    font-weight: bold;
}

.forgot-password a {
    color: white;
}

.google {
    margin-top: 20px;
    font-size: 12px;
    font-weight: bold;

    display: flex;
    flex-direction: column;

    align-items: center;
}

.gmail {
    width: 40px;
    height: 40px;
    padding: 0px;
    margin-top: 15px;
    border: none;
    border-radius: 10%;
}

.gmail-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}