.overplay{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    z-index: 5;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.popup {
    margin: 350px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    min-width: 370px;
    max-width: 400px;
    width: 40%;
    position: relative;
    transition: all 3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.popbutton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.buttonpopup{
    margin-inline: 20%;
    font-weight: bold;
    
}

.cancel-button-confirm {
    width: 80px;
    font-weight: bold;
}

.print-button-confirm {
    width: 80px;
    margin-left: 20px;
    font-weight: bold;
}

