.input-wrapper {
    background-color: #e5ebff;
    width: 100%;
    border-radius: 10px;
    height: 2.5rem;
    padding: 0 15px;
    box-shadow: 0px 0px 4px 0px #ddd;
    display: flex;
    align-items: center;

    margin-top: 5%;
    margin-bottom: 2%;
    flex-shrink: 0;
    /* padding: 8px; */
}

input {
    background-color: transparent;
    border: none;
    outline: none;
    height: 100%;
    font-size: 16px;
    width: 100%;
    margin-left: 10px;
}

input:focus {
    outline: none;
}

#search-icon {
    color: rgba(19, 53, 166, 1);
}