.content-table {
    width: 100%;
    height: 70%;
/*     overflow-y: scroll; */
    overflow-x: hidden;
    border-radius: 16px;
    margin: 5px;
}

.history-list {
    max-height: 480px;
    position: relative;
    width: 100%;
    z-index: 1;
}

.history-title {
    font-size: 32px;
    color: rgba(19, 53, 166, 1);
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

.outer-box {
    border-radius: 16px;
    background-color: #e5ebff;
    margin: 0 2% 2% 0;
    width: 100%;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
}

.outer-box-dark {
    border-radius: 0 16px 16px 16px;
    background-color: rgba(19, 53, 166, 1);
    /* margin: 0 0 2% 0; */
    width: 100%;
    display: flex;
    padding: 20px;
    margin-bottom: 20px;
}

.history-tab-button {
    fill: #FFF;
    stroke-width: 2px;
    stroke: rgba(19, 53, 166, 1);
    border-radius: 10px 10px 0px 0px;
    font-weight: 200;
}

.history-tab-button:active {
    fill: rgba(19, 53, 166, 1);
    stroke-width: 2px;
    stroke: #fff;
    border-radius: 10px 10px 0px 0px;
    font-weight: 200;
}
